<a href="https://colab.research.google.com/github/julioreis-dev/data_science/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
cost_revenue_url = '/content/drive/MyDrive/staging/cost_revenue_clean.csv'

In [4]:
df_cost = pd.read_csv(cost_revenue_url)

In [5]:
df_cost.head()

   production_budget_usd  worldwide_gross_usd
0                1000000                   26
1                  10000                  401
2                 400000                  423
3                 750000                  450
4                  10000                  527